.creatable {
  > div {
    padding: 0 0.4rem;
    border: none;
    background-color: transparent;
    > div > div {
      padding: 0.4rem 1rem;
      margin-right: 0.4rem;
      border-radius: 9999px;
    }
  }
  .css-1wa3eu0-placeholder{
    padding: 1rem 1rem;
    color: rgb(156, 163, 175);
  }

  .css-b8ldur-Input{
    padding: 1rem 1rem;
  }
}